{% extends 'template.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block main %}{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Edit Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-warning txtheader p-2 m-1" href="{{ path('task_index') }}">Retour</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
