{% extends 'template.html.twig' %}


{% block title %}New Task{% endblock %}

{% block main %}{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('task_index') }}">back to list</a>
{% endblock %}
