{% extends 'template.html.twig' %}


{% block title %}New User{% endblock %}

{% block main %}
    <h1>Ajouter un nouvel utilisateur</h1>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
