{% extends 'template.html.twig' %}


{% block title %}New User{% endblock %}

{% block main %}{% form_theme form 'bootstrap_4_layout.html.twig' %}

    <h1>Ajouter un nouvel utilisateur</h1>
    {{ include('user/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('user_index') }}">Retour</a>
{% endblock %}
